@import "~bootstrap/scss/bootstrap";
@import "~react-modal-video/scss/modal-video.scss";
@import "../css/icons.min.css";
@import "variables";
@import "helper";
@import "common";
@import "preloader";
@import "header";
@import "slider";
@import "support";
@import "section-title";
@import "product";
@import "blog";
@import "footer";
@import "banner";
@import "suscribe";
@import "about";
@import "image-slider";
@import "testimonial";
@import "brand-logo";
@import "timers";
@import "breadcrumb";
@import "sidebar";
@import "shop";
@import "product-details";
@import "cart";
@import "compare";
@import "checkout";
@import "contact";
@import "blog-details";
@import "login-register";
@import "my-account";
@import "404";
@import "video-popup";
@import "payment";


.primary-btn {
  background: $theme-color;
  color: #fff;
  border: medium none;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  &:hover {
    background: #333;
    color: #fff;
  }
}

.secondary-btn {
  background: #363f4d;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;

  cursor: pointer;
  &:hover {
    background: $theme-color;
    color: #fff;
  }
}

.flex-left-right-container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-left-right-container-item
{
  flex: 1;
}

.office-address
{
  line-height: 24px !important;
}

